@font-face {
  font-family: 'Montserrat';
  src: local(Montserrat-Bold),
        url('../fonts/MontserratBold.woff2') format('woff2'),
        url('../fonts/MontserratBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local(Montserrat-ExtraBold),
        url('../fonts/MontserratExtraBold.woff2') format('woff2'),
        url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local(Montserrat-Medium),
        url('../fonts/MontserratMedium.woff2') format('woff2'),
        url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local(Montserrat-Regular),
        url('../fonts/MontserratRegular.woff2') format('woff2'),
        url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local(Montserrat-SemiBold),
        url('../fonts/MontserratSemiBold.woff2') format('woff2'),
        url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  width: 100vw;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 100vw;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

button {
  outline: none;
}

/* global */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  width: 93%;
}

.section-title {
  font-size: 48px;
  margin-bottom: 32px;
}



/* header */

.header {
  background-color: white;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  margin-bottom: 50px;
  min-height: 100px;
}

.header__container {
  display: flex;
  align-items: center;
  height: 69px;
  min-height: 100px;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 85px;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item {
  font-size: 18px;
  font-weight: 600;
  margin-right: 85px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__item-link {
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  position: relative;
}

.header__item-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color: #F90;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 2px;
}

.header__item-link:focus {
  outline: 2px solid #F90;
  outline-offset: 5px;
}

.header__item-link:hover::after {
  opacity: 1;
}

.header__item-link:active {
  color: #E1670E;
}

.header__item-link:active::after {
  opacity: 0;
}

.header__find {
  transition: outline 0.3s ease-in-out;
  width: 24px;
  height: 24px;
}

.header__find svg rect {
transition: fill 0.3s ease-in-out;
}
.header__find svg path {
transition: stroke 0.3s ease-in-out;
}

.header__find:focus {
outline: 2px solid #F90;
outline-offset: 2px;
}

.header__find:hover svg rect {
fill: #FF9900;
}

.header__find:hover svg path {
stroke: #FF9900;
}

/* hero */

.hero__container {
  padding: 100px 80px;
  background-image: url('../img/hero-bg-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 32px;
  margin-bottom: 55px;
}

.hero__title {
  margin: 0;
  color: #FFF;
  font-size: 70px;
  font-weight: 800;
  line-height: normal;
  max-width: 60%;
  margin-bottom: 23px;
}

.hero__descr {
  margin: 0;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  max-width: 50%;
  margin-bottom: 89px;
}

.hero__btn {
  padding: 25px 39px;
  background-color: #F90;
  border-radius: 16px;
  color: #FFF;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: normal;
  transition: background-color .3s ease-in-out;
}

.hero__btn:focus {
  background-color: #FFB84D;
}

.hero__btn:hover {
  background-color: #FFB84D;
}

.hero__btn:active {
  background-color: #E1670E;
}

/* about */

.about {
  margin-bottom: calc(50px * 2);
}

.about__title {
  margin-bottom: 20px;
}

.about__descr {
  font-size: 16px;
  line-height: 32px;
  max-width: 70%;
  margin-bottom: 49px;
}

.about__image-wrapper {
  display: none;
}

.about-wrapper {
  display: flex;
}

.about__left {
  min-height: 622px;
  width: calc((100% - 32px) / 2);
  background-image: url('../img/about-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 32px;
}

.about__left-descr-wrapper {
  display: flex;
  padding: 50px;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.50);
  align-items: center;
}

.about__left-descr {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  max-width: 60%;
  margin-right: auto;
}

.about__left-btn {
  padding: 19px 37px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border-radius: 16px;
  border: 3px solid #F90;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.about__left-btn:focus {
  background-color: #F90;
}

.about__left-btn:focus-visible {
  outline: none;
}

.about__left-btn:hover {
  background-color: #F90;
}

.about__left-btn:active {
  background-color: #E1670E;
  border-color: #E1670E;
}

.about__right {
  width: calc((100% - 32px) / 2);
  display: flex;
  flex-direction: column;
}

.about__right-bottom,
.about__right-top {
    display: flex;
    border: 1px solid #CACACA;
    border-radius: 32px;
    padding: 65px 60px 65px 300px;
}


.about__right-top {
  position: relative;
  margin-bottom: 32px;
}

.about__right-bottom {
  position: relative;
}

.about__right-top:before {
  content: '';
  position: absolute;
  height: 165px;
  width: 190px;
  align-self: center;
  left: 60px;
  background-image: url('../img/about-1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__right-bottom:before {
  content: '';
  position: absolute;
  height: 165px;
  width: 190px;
  align-self: center;
  left: 60px;
  background-image: url('../img/about-2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__right-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
}

.about__right-descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 90%;
}

/* steps */

.steps {
  margin-bottom: 104px;
}

.steps__title {
  margin-bottom: 38px;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
}

.steps__left {
  width: 40%;
  margin-right: 32px;
}

.steps__right {
  border-radius: 32px;
  width: calc((100% - 32px) / 2);
  height: inherit;
  object-fit: cover;
  background-image: url('../img/steps-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.steps__title-descr {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.steps__descr {
  font-size: 16px;
  line-height: 32px;
}

.steps__text {
  margin-bottom: 19px;
}

.steps__btn-wrapper {
  display: flex;
}

.steps__btn {
  padding: 19px 38px;
  border-radius: 16px;
}

.steps__btn:focus-visible {
  outline: none;
}

.steps .btn-1 {
  background: #F90;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border: none;
  color: white;
  margin-right: 32px;
}

.steps .btn-1:focus {
  background-color: #FFB84D;
}

.steps .btn-1:hover {
  background-color: #FFB84D;
}

.steps .btn-1:active {
  background-color: #E1670E;
}

.steps .btn-2 {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.steps .btn-2:focus {
  background-color: #666;
  color: white;
  border-color: #666;
}

.steps .btn-2:hover {
  background-color: #666;
  color: white;
  border-color: #666;
}

.steps .btn-2:active {
  background-color: #000;
  color: white;
}

/* faq */

.faq {
  --offsets: 2;
  margin-bottom: calc(50px * 2);
}

.faq__list {
  display: flex;
}

.faq__item {
  width: calc((100% - 32px * 2) / 3);
  padding: 65px;
  padding-left: 58px;
  border: 1px solid #CACACA;
  border-radius: 32px;
  margin-right: 32px;
}

.faq__item:last-child {
  margin-right: 0;
}

.faq__item-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  width: 92%;
}

.faq__item-descr {
  font-size: 16px;
  line-height: 32px;
}

/* footer */

.footer {
  background-color: #000;
  --offsets: 2;
}

.footer__container {
  display: flex;
  padding: 55px 0;
  justify-content: space-between;
}

.footer__info {
  width: calc((100% - 32px * 2) / 3);
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__item {
  color: #CACACA;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
}

.footer__item-link {
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  position: relative;
}

.footer__item-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color: #F90;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 2px;
}


.footer__item-link:focus {
  outline: 2px solid #F90;
  outline-offset: 5px;
}

.footer__item-link:hover::after {
  opacity: 1;
}

.footer__item-link:active {
  color: #E1670E;
}

.footer__item-link:active::after {
  opacity: 0;
}


.footer__list {
  margin-bottom: 90px;
}

.footer__title {
  color: #fff;
  margin-bottom: 25px;
}

.footer__wrapper-form {
width: calc((100% - 32px * 2) /(2 + 1));
}

.footer__form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__form-input {
  background-color: #414141;
  padding: 21px 24px;
  border-radius: 16px;
  color: #CACACA;
  font-size: 16px;
  border: 1px solid #414141;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 24px;
}

.footer__form-input:focus {
  background-color: #666;
  outline: none;
}

.footer__form-input:hover {
  background-color: #666;
  outline: none;
}

.footer__form-input:active {
  background-color: #666;
  color: white;
  outline: none;
}

.footer__form-textarea {
  background-color: #414141;
  padding: 14px 24px;
  border-radius: 16px;
  color: #CACACA;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  border: 1px solid #414141;
  box-sizing: border-box;
  resize: none;
  height: 150px;
  margin-bottom: 32px;
}

.footer__form-textarea:focus {
  background-color: #666;
  outline: none;
}

.footer__form-textarea:hover {
  background-color: #666;
  outline: none;
}

.footer__form-textarea:active {
  background-color: #666;
  color: white;
  outline: none;
}

.btn {

  background-color: #F90;
  border-radius: 16px;
  color: #FFF;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: normal;
  transition: background-color .3s ease-in-out;
}

.footer__form-wrapper {
  display: flex;
  align-items: center;
}

.footer__form-btn {
  background-color: #F90;
  color: #FFF;
  text-align: center;
  border-radius: 16px;
  padding: 19px 52px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out;
  margin-right: 20px;

}

.footer__form-btn:focus {
  background-color: #FFB84D;
}

.footer__form-btn:hover {
  background-color: #FFB84D;
}

.footer__form-btn:active {
  background-color: #E1670E;
}

.footer__form-check {
  color: #CACACA;
  font-size: 16px;
}

.footer__descr {
  padding: 87px 0;
  max-width: 363px;
  width: 90%;
  margin-left: auto;
  color: #CACACA;
  font-size: 16px;
  line-height: 32px;
}

.footer__social-list {
  display: flex;
}

.footer__social-link:first-child {
  margin-right: 25px;
}

.footer__social-link {
  transition: outline 0.3s ease-in-out;
}

.footer__social-link path {
  fill: #666;
  transition: fill 0.3s ease-in-out;
}

.footer__social-link:focus {
  outline: 2px solid #F90;
  outline-offset: 5px;
}

.footer__social-link:hover path {
  fill: #FF9900;
}

.footer__social-link:hover {
  outline: none;
}

.footer__social-link:active path {
  fill: #E1670E;
}

.footer__form-check {
  display: flex;
  align-items: center;
}

.footer__form-checkbox {
  appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.footer__form-checkbox:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  display: block;
  background-color: transparent;
  border: 2px solid white;
  margin-right: 4px;
}
.footer__form-checkbox:checked:before {
  background-image: url('../img/check.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.footer__descr-wrapper {
  width: calc((100% - 32px * 2) /(2 + 1));
}
